venv/*
!venv/.gitkeep

venvDjangoProva/*
!venvDjangoProva/.gitkeep

*.sqlite3

*.pyc
__pycache__/

.vscode/

.DS_Store
Thumbs.db

.env
.devdbrc

**/media/**/img/**
!**/media/**/img/**/.gitkeep

*.log

*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

.idea
